body {
  margin: 0;
  background-color: #000000;
}

.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
}

